:root {
  --primary-color: #5aa0f5;
  --primary-color-darker: #518ed8;
  --secondary-color: #efefef;
  --secondary-color-darker: #cac9c9;

  --border-color-base: #cfcfcf;
  --border-color-split: #cfcfcf;
  --text-color: #000;

  --border-radius-base: 8px;

  --font-noto-sans: 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;

  --font-size-xl: 24px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 12px;

  --font-size-base: var(--font-size-md);

  --line-height-base: 1.5715;

  --space-xl: 40px;
  --space-lg: 24px;
  --space-md: 16px;
  --space-sm: 12px;
  --space-xs: 8px;
  --space-xss: 4px;
}
